<nav appScrolling>

  <!-- LEFT: LOGO -->
  <div class="logo" routerLink="/">
    <!-- <img src="assets/images/logo-bg-less.png" alt="Logo"> -->
     <h1 routerLink="/"><i class="fa-solid fa-store"></i> Shopping Mall</h1>
  </div>

  <!-- CENTER: SEARCH -->
  <div class="search-container">
    <input type="text" placeholder="Search clothing..." name="search-clothing"/>
    <button>
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>

  <!-- RIGHT: ACCOUNT -->
  <div class="account">
    @if (!isLoggedIn) {
      <button (click)="showRegister()">
        <i class="fa-regular fa-id-card"></i> Create Account
      </button>
      <button (click)="signInForm()">
        <i class="fa-solid fa-right-to-bracket"></i> Sign In
      </button>
    } @else  {
      <button routerLink="/profile">
        <img [src]="userImg" alt="">{{userName}}
      </button>
      <button (click)="signOut()">
        <i class="fa-solid fa-right-to-bracket"></i> Sign Out
      </button>
    }
  </div>

</nav>

<!-- CATEGORY LINKS -->
<div class="category-links">
  <a routerLink="/shop/womens-clothes">Women's Clothes</a>
  <a routerLink="/shop/mens-clothes">Men's Clothes</a>
  <a routerLink="/shop/shoes">Shoes</a>
  <a routerLink="/shop/Jeans">Jeans</a>
</div>

@if (isSignShow) {
<app-sign-in
  (closeEmit)="closeForm($event)"
  (changeEmit)="showRegister()"
  (loggedEmit)="loggedIn($event)">
</app-sign-in>
}

@if (isRegisterShow) {
<app-sign-up
  (closeEmit)="closeRegister($event)">
</app-sign-up>
}