<app-banner></app-banner>

<section class="shopInfos">
  @for (item of shopCards; track $index) {
    <div class="card">
      <i class="fa-solid {{ item.icon }}"></i>
      <h4>{{ item.header }}</h4>
      <p>{{ item.message }}</p>
    </div>
  }
</section>

<section class="arrivals">
  <main class="container">
    <div class="infos">
      <h1>New Arrivals</h1>
      <p>
        Discover the latest additions to our collection. Each piece is carefully
        selected to reflect modern trends while maintaining a refined and
        timeless aesthetic. Elevate your wardrobe with styles crafted for
        confidence, comfort, and everyday sophistication.
      </p>
    </div>
  </main>
</section>
<div class="bestS">
  <h1>Best Selling</h1>
</div>

<app-several-products></app-several-products>
